environments {
    aws {
        dev {
            globals = """
               foo=bar
            """
        }
        prod {
            globals = """
                foo=bat
            """
        }
        all {}
    }
    azure {}
    heroku {}
}